{% extends 'admin_index.html' %}
{% block body %}

<body><center><h3>Payment History</h3>
  <table width="700" height="100" border="0">
    <tr bgcolor="#f0ffff">
      <th>Sl. No.</th>
      <th>Client</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Time</th>
        <th>Status</th>
    </tr>
      {% for i in data %}
    <tr bgcolor="white">
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>{{ i['email'] }}&nbsp;</td>
      <td>{{ i['amount'] }}&nbsp;</td>
      <td>{{ i['payment_date'] }}&nbsp;</td>
      <td>{{ i['payment_time'] }}&nbsp;</td>
    <td>{{ i['status'] }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
