{% extends 'admin_index.html' %}
{% block body %}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="0">#}
{#    <tr>#}
{#      <td><a href="/addworker">worker registration</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewworker">view worker</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view and confirm work</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view client</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view confirmed work</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">assign workhead</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view payment history</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view work history</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">update work status</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">view worker attendance</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">pay salary</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">leave applications</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/addrawmaterial">add rawmaterials</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewrawmaterial">view rawmaterials</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/addservice">add services</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/viewservice">view services</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">complaints</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">ratings and reviews</a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
