{% extends 'admin_index.html' %}
{% block body %}

<body>
<center><h3>View Client</h3>
  <table width="900" height="200" border="0">
    <tr bgcolor="#f0ffff">
      <th width="27">Sl. No.</th>
      <th width="77">Name</th>
      <th width="82">Email id</th>
      <th width="106">Address</th>
      <th width="75">Contact Number</th>
    </tr>
      {% for i in data %}
    <tr bgcolor="white">
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['name'] }}&nbsp;</td>
      <td>{{ i['email'] }}&nbsp;</td>
      <td>{{ i['contact_add'] }}&nbsp;</td>
      <td>{{ i['phone_no'] }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</center>

</body>
{% endblock %}
