{% extends 'admin_index.html' %}
{% block body %}
<body><center><h3>Work Status</h3>
  <table width="451" height="73" border="1">
    <tr>
      <th width="28">#</th>
      <th width="99">Client</th>
      <th width="116">Location</th>
      <th width="102">Status</th>
      <th width="72">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ i['name'] }}&nbsp;</td>
        <td>{{ i['worksite'] }}<br/>&nbsp;Latitude:{{ i['latitude'] }}<br/> Longitude:{{ i['longitude'] }}</td>
      <td>{{ i['status'] }}&nbsp;</td>
      <td><a href="#">update</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
