{% extends 'admin_index.html' %}
{% block body %}

<body><center><h3>Complaints</h3>
  <table width="495" height="68" border="1" class="table table-striped">
    <tr>
      <th width="20">#</th>
      <th width="64">Client</th>
      <th width="88">Email</th>
        <th width="88">Service</th>
      <th width="135">Complaint</th>
      <th width="82">Reply</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>{{ i['email'] }}&nbsp;</td>
        <td>{{ i['service'] }}&nbsp;</td>
        <td>&nbsp;{{ i['comp_date'] }}-&nbsp;{{ i['complaint'] }}</td>
    <td>{% if i['reply']=="pending"%}<a href="/view_act/{{ i['complaint_id'] }}"><font color="blue">reply</font></a> {% else %}
  {{ i['reply_date'] }}-{{ i['reply'] }}{% endif %}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
