{% extends 'admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/act_reply/{{ x }}">
  <table>

    <tr>
      <td>Reply</td>
      <td>
          <textarea name="txt_reply" id="txt_reply" class="form-control" cols="40" rows="3" ></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="bt_reply" id="bt_reply" value="Submit" class="btn btn-primary" /></td>
      
    </tr>
  </table>
</form>
</body>
{% endblock %}
