{% extends 'admin_index.html' %}
{% block body %}
<body>
<h1>Add services</h1>
<form id="form1" name="form1" method="post" action="/addservice1">
  <center><table width="500" border="0">

    <tr>
      <td>Sevice</td>
      <td><label for="txt_service"></label>
      <input type="text" name="txt_service" id="txt_service" /></td>
    </tr>


      <tr>
      <td>Something about services </td>
      <td><label for="txt_service1"></label>
      <input type="text" name="txt_service1" id="txt_service1" /></td>
    </tr>

    <tr>
      <td colspan="2"><center><input type="submit" name="bt_service" id="bt_service" value="Add" /></center></td>
      
    </tr>
  </table></center>
</form>
</body>
{% endblock %}
