{% extends 'admin_index.html' %}
{% block body %}

<body>
<center><h3>View Client</h3>
  <table width="401" height="121" border="1">
    <tr>
      <th width="27">#</th>
      <th width="77">Name</th>
      <th width="82">Email</th>
      <th width="106">Contact No.</th>
      <th width="75">Address</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
</center>

</body>
{% endblock %}
