{% extends 'admin_index.html' %}
{% block body %}

<body><center><h3>Complaints</h3>
  <table width="495" height="68" border="1">
    <tr>
      <th width="20">#</th>
      <th width="64">Client</th>
      <th width="88">Email</th>
        <th width="88">Service</th>
      <th width="135">Complaint</th>
      <th width="66">Date</th>
      <th width="82">Reply</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>{{ i['email'] }}&nbsp;</td>
        <td>{{ i['service'] }}&nbsp;</td>
      <td>{{ i['complaint'] }}&nbsp;</td>
      <td>{{ i['comp_date'] }}&nbsp;</td>
      <td><a href="#">reply</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
