{% extends 'admin_index.html' %}
{% block body %}
<body><center><h3>Required Raw Materials</h3>
  <table width="407" height="90" border="1">
    <tr>
      <th width="15">#</th>
      <th width="80">Worksite</th>
      <th width="129">Raw materials</th>
      <th width="71">Quantity</th>
      <th width="78">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">edit</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
