{% extends 'admin_index.html' %}
{% block body %}

<body>
<center><h3>Schedule</h3>
  <table width="398" height="137" border="1">
    <tr>
      <th width="33">#</th>
      <th width="101">Work location</th>
      <th width="68">Service</th>
      <th width="103">Worker name</th>
      <th width="59">Time</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
</center>
</body>
{% endblock %}
