{% extends 'admin_index.html' %}
{% block body %}

<body>
<form action="/editworker1/{{ data['workerid'] }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="405" height="386" border="0">
    <tr>
      <th colspan="2">&nbsp;Register Worker</th>
      
    </tr>
    <tr>
      <td>Name</td>
      <td><label for="txt_name3"></label>
      <input type="text" name="txt_name" id="txt_name3" value="{{ data['worker_name'] }}"/></td>
    </tr>
    <tr>
      <td>Dob</td>
      <td><label for="txt_dob"></label>
      <input type="text" name="txt_dob" id="txt_dob" value="{{ data['dob'] }}" /></td>
    </tr>
    <tr>
      <td>Mobile No.</td>
      <td><label for="txt_mobile"></label>
      <input type="text" name="txt_mobile" id="txt_mobile" value="{{ data['phone_no'] }}"/></td>
    </tr>	
    <tr>
      <td>Adhar No.</td>
      <td><label for="txt_adhar"></label>
      <input type="text" name="txt_adhar" id="txt_adhar" value="{{ data['adhar_no'] }}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="txt_email"></label>
      <input type="text" name="txt_email" id="txt_email" value="{{ data['worker_email'] }}"/></td>
    </tr>
    <tr>
      <td>House name</td>
      <td><label for="txt_house"></label>
      <input type="text" name="txt_house" id="txt_house" value="{{ data['house_name'] }}" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="txt_place"></label>
      <input type="text" name="txt_place" id="txt_place" value="{{ data['place'] }}"/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="txt_post"></label>
      <input type="text" name="txt_post" id="txt_post" value="{{ data['post'] }}"/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="txt_pin"></label>
      <input type="text" name="txt_pin" id="txt_pin" value="{{ data['pin'] }}"/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label for="photo"></label>
      <input type="file" name="photo" id="photo" /><img src="{{ data['photo'] }}" height="100" width="100"></td>
    </tr>
      <tr>
      <td>Wages per day</td>
      <td><label for="wages"></label>
      <input type="text" name="wages" id="wages" value="{{ data['wages'] }}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="bt_submit" id="bt_submit" value="Submit" /></td>
     
    </tr>
  </table>
</form>
</body>
{% endblock %}
