{% extends 'admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/updateraw1/{{ data['raw_id'] }}">
  <table width="200" border="0">
    <tr>
        <th colspan="2"><h3>Update Raw Material</h3></th>

    </tr>
    <tr>
      <td>Name</td>
      <td><label for="raw_name"></label>
      <input type="text" name="raw_name" id="raw_name"  value="{{ data['raw_name'] }}"/></td>
    </tr>
      <tr>
      <td>Description</td>
      <td><label for="raw_quantity"></label>
      <input type="text" name="raw_desc" id="raw_desc" value="{{ data['description'] }}"/></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><label for="raw_quantity"></label>
      <input type="text" name="raw_quantity" id="raw_quantity" value="{{ data['quantity'] }}"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="bt_rawSubmit" id="bt_rawSubmit" value="Submit" /></td>

    </tr>
  </table>
</form>
</body>
{% endblock %}
